<div class='col-lg-4 col-md-6 mb-4'>
  <div class='card' data-id=" + data[i]._id + ">
    <img class='card-img-top' src="{{ this.image }}" alt=''>
    <div class='card-body'>
      <a href="{{ this.link }}">
        <h4 id="modal-article-title" class='card-title'> {{ this.title }} </h4>
      </a>
      <p class='card-text'></p>
    </div>
    <div class='card-footer'>

      {{#unless this.saved }}
      <a data-id=" {{ this._id }} " class='save-btn btn btn-secondary'>
        Save Article
      </a>
      {{/unless }}


      {{#if this.saved }}
      <a data-id=" {{ this._id }} " class='unsave-btn btn btn-secondary'>
        Unsave Article
      </a>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
        Notes
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="noteModalLabel">Article Notes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea id="bodyInput" rows="8" cols="50"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="saveNotes" class="save-note-btn btn btn-warning">Save Notes</button>
            </div>
          </div>
        </div>
      </div>

      {{/if }}


    </div>
  </div>
</div>