<div class='col-lg-4 col-md-6 mb-4'>
  <div class='card' data-id=" + data[i]._id + ">
    <img class='card-img-top' src="{{ this.image }}" alt=''>
    <div class='card-body'>
      <a href="{{ this.link }}">
        <h4 id="modal-article-title" class='card-title'> {{ this.title }} </h4>
      </a>
      <p class='card-text'></p>
    </div>
    <div class='card-footer'>

      {{#unless this.saved }}
      <a data-id=" {{ this._id }} " class='save-btn btn btn-secondary'>
        Save Article
      </a>
      {{/unless }}


      {{#if this.saved }}
      <a data-id=" {{ this._id }} " class='unsave-btn btn btn-secondary'>
        Unsave Article
      </a>

      <button data-id="{{ this._id }}" data-note="{{ this.note }}" type="button" class="btn btn-warning open-modal" data-toggle="modal" data-target="#exampleModal">
        Notes
      </button>

      {{/if }}


    </div>
  </div>
</div>